.container {
    /* padding-top: 5% ; */
    padding-left: 5% ;
    padding-right: 5% ; 
    max-width: 100% ;
    max-height: 400px; 
}
.navbar{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

}

.navbar .right-text{
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-right: 1%;
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
}
.navbar-brand{
    font-family:'Courier New', Courier, monospace;
    margin-left: 3%;
    font-size: 30px;
}

.top1 div{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.top1 .dot{
    height: 30px;
    width: 30px;
    margin-left: 40px;
    margin-right: 15px;
    background-color: blue;
    border-radius: 50%;
    display: inline-flex;
}

.top1 .name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    margin-top: 0.6%;
}
.top1 .job{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 1% ;
    margin-left:1%;
}


.top1 .right-text {
    color: #000;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    transition: opacity 0.3s ease;
  }
  
  .top1 .right-text:hover {
    opacity: 0.6;
  }

.content{
    margin-top: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display:block;
}
.row2{
    display: flex;
    gap: 5%;
    margin-top: 30%;
}

.port1{
    margin-left: -10%;
}

 h1{
    display: flex;
    margin-top: 5%;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    margin-left: 10%;
    display: flex;
    margin-top: 5%;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    overflow-x: hidden;
    
    width: 100%;
    margin: 0;
  }

  .content {
    width: 100%;
    padding: 20px 0;
  }

  .top1, .content h1 {
    padding: 0 15px;
  }

  .iframe-container {
    max-width: 100%;
    overflow: hidden;
  }

  .iframe-container iframe {
    width: 100%;
  }