.container-fluid {
    background-color: black;
}

.navbar {
    position: fixed;
}


.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    background-color: #f0f0f0;
    border: 20px;
}

.navbar-toggler-icon {
    filter: brightness(1000%);
}