body {
   background-color: #032b23;
   margin: 0;
   position: relative;
   color: #fff;
}

nav .kiri {
   width: 50%;
   top: 4vh;
   position: fixed;
   left: 3vw;
   z-index: 10000;
   transform: translate(0, 0);
   font-family: helvetica;
   text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px cyan,
      0 0 30px cyan,
      0 0 40px cyan,
      0 0 50px cyan,
      0 0 60px cyan;
}
   letter-spacing: 0.05em;
   font-weight: normal;
   line-height: 0.6;
   color: #fff;
   transition: color 0.3s ease, text-shadow 0.3s ease;
   /* Efek transisi */
   text-decoration: none;
}

nav .kiri ul li a:hover {
   color: cyan;
   text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px cyan,
      0 0 30px cyan,
      0 0 40px cyan;
}

nav .kanan {
   width: 50%;
   top: 4vh;
   position: fixed;
   right: 3vw;
   z-index: 10000;
   transform: translate(0, 0);
   font-family: helvetica;
   text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px cyan,
      0 0 30px cyan,
      0 0 40px cyan,
      0 0 50px cyan,
      0 0 60px cyan;
}

nav .kanan ul {
   display: flex;
   justify-content: end;
}

nav .kanan ul li {
   margin-left: 30px;
   display: flex;
}

nav .kanan ul li a {
   font-size: 2rem;
   letter-spacing: 0.05em;
   font-weight: normal;
   line-height: 0.6;
   color: #fff;
   transition: color 0.3s ease, text-shadow 0.3s ease;
   text-decoration: none;
}

nav .kanan ul li a:hover {
   color: cyan;
   text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px cyan,
      0 0 30px cyan,
      0 0 40px cyan;
}

header {
   position: relative;
   text-align: center;
   color: white;
   text-shadow:
      0 0 5px rgba(0, 0, 0, 0.7),
      0 0 10px rgba(0, 0, 0, 0.7),
      0 0 20px rgba(0, 0, 0, 0.7);
}
   display: block;
}

header::after {
   content: "";
   position: absolute;
}