body{
    margin: 0;
}
ul {
    
    margin: 0px;
    list-style: none;
    display: flex;
    background-color: black;
    padding: 20px;
    gap: 5rem;
}

li a:hover{
    color: gold;
}
li a {
    
    text-decoration: none;
    margin-left: 0px;
    color: white;

}

li {
    text-align: center;
    text-decoration: none;

}