body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-decoration: solid;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.card {
    display: flex;
    flex-direction: row;
  }
.card-left {
    /* background-color: pink; */
    width: 50%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-left img {
    width: 600px;
    height: 600px;
  }

  .card-right {
    /* background-color: aqua; */
    width: 50%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-image {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 10px;
  }

  .container-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .card-left img {
    width: 600px;
    height: 600px;
  }