* {
  padding: 0;
  margin: 0;
} 

nav {
  background-color: blue;
  width: 100%;
  border-radius: 30;
  display: flex;
  justify-content: space-evenly;
}

nav :hover {
  color: green;
}

nav a {
  color: white;
}

h1 {
  font-family: monospace;
  text-align: center;
}

h3 {
  font-family: monospace;
  text-align: center;
}

p {
  font-family: monospace;
  text-align: center;
}


