body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.custom-card{
    padding: 5px;
    background-color: rgb(239, 247, 255);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 50px;

}
.icon-kanan{
    width: 100px;
    margin-left: 700px;
    margin-top: -58px;
}
.welcome{
    text-align: center;
    margin-top: -100px;
    font-size: xx-large;
}
.title-2{
    margin-left: 150px;
    margin-top: -40px;
    font-size: larger;
}
.img-st{
    margin-top: 120px;
    width: 60px;
    margin-left: 40px;
}
.icon-kiri{
    width: 100px;
    margin-top: 30px;
    margin-left: 35px;
}
/* teks nama */
.nm{
    margin-left: 40px;
}
.nama{
    margin-left: 80px;
    height: 25px;
    width: 246px;
}

.txt-almt{
    margin-top: 30px;
    margin-left: 60px;
    width: 250px;
}
/* teks alamat */
.almt{
    margin-left: 40px;
}
/* teks Ttl */
.t-ttl{
    margin-left: 40px;
}
.ttl{
    width: 250px;
    margin-left: 55px;
}
.t-gender{
    margin-left: 40px;
}
.gender-l{
    margin-left: 300px;

   
}
.gender-p{
    margin-left: -260px;
   
}
/* teks rentang usia */
.t-umur{
    margin-left: 40px;
}
.umur{
    width: 256px;
    height: 25px;
    margin-left: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* teks keluhan */
.t-keluhan{
    margin-left: 40px;
}
.keluhan{
    margin-left: 126px;
    width: 250px;
}
/* teks kondisi */
.t-sikon{
    margin-left: 40px;
}
.situasi{
    margin-top: 15px;
    margin-left: 100px;

}
/* teks konsultasi */
.t-konsul{
    margin-left: 40px;

}
.pilihan-konsul{
    margin-left: 100px;
    margin-top: 15px;
}
/* teks ambil antrian */
.t-antri{
    margin-left: 40px;


}
.antrian{
    margin-top: 15px;
    margin-left: 95px;
}
.submit{
    background-color: transparent;
    border-radius: 5px;
    width: 75px;
    height: 25px;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit:hover{
    background-color: rgba(169, 169, 169, 0.669);
    transition: 7ms;
}