* {
    padding: 0;
    margin: 0;

}


body {
    background-color: lightcoral;
}

.calculator{
    padding-top: 50px;
    padding-right: 700px;   
    padding-left: 700px;
}



#keys{
    padding-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    
}

#keys button{
    color: white;
    font-size: 30px;
    background-color: black;
    padding: 20px;
    border-radius:4%;
    transition: 0.5s ease;
}

#keys button:hover{
    color: black;
    background-color: white;
}

.calculator-body{
    border: 10px solid black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: black;   
    
}

.calculator-body #display {
    font-size: 100px;
    height: 100px;
    background-color: orange;
}

.calculator-body #keys .clearButton{
    color: orange;
    transition: 0.5s ease;
}

.calculator-body #keys .clearButton:hover{
    color: black;
}

.calculator-body #keys .calculateButton{
    background-color: orange;
    border-radius: 100%;
    transition: 0.5s ease;
}


.calculator-body #keys .calculateButton:hover{
    background-color: white;
}







