body {
  background-color: black;
  color: white;
}


.container-nav {
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
}

.logo-luffy {
  width: 17%;
  padding: 9px;
  /* background-color: aqua; */
  margin-left: 33px;
}

.nav-ul {
  /* background-color: blue; */
  list-style-type: none;
}

.nav-li {
  display: inline;
  /* background-color: green; */
  padding: 9px;
  margin-right: 33px;
}

.container-nav-left {
  /*  */
}

.nav-a {
  color: white;
  text-decoration: none;
  /* background-color: aqua; */
}
