body {
  background-color: black;
  color: white;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.logo-luffy {
  width: 17%;
  padding: 9px;
  margin-left: 33px;
}

.nav-ul {
  list-style-type: none;
}

.nav-li {
  display: inline;
  /* background-color: green; */
}

.nav-a {
  color: white;
  text-decoration: none;
  /* background-color: aqua; */
  padding: 9px;
  margin-right: 17px;
}

.container-nav-left a:hover {
  background-color: grey;
  border-radius: 3px;
}

.container-header {
  display: flex;
  justify-content: center;
}