body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(to right, #000080, #00ffd5f6);
}

.inputbox {
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background: linear-gradient(to right, #000080, #00ffd5f6);
}

.key-others {
  background-color: #e6e6e6;
}

.key-operate {
  background-color: #00ffb3;
}

.numbers {
  background-color: #fff;
}

.key-zero {
  grid-column: span 2;
}

button {
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
