.nav-class {
    transition: 0.5s ease;
}

.navbar-scrolled {
    background-color: #7360DF;
}

.profile-header {
    
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s ease;

}

.profile-header:hover {
    transform: scale(1.07);
}

.button-header {
    background-color: #7360DF;
    color: white;
    transition: 0.4s ease;
    border: 5px solid white;
}

.button-header:hover {
    color: black;
    background-color: white;
    transform: scale(1.07);
    border: 5px solid #7360DF;
}

#card {
    transform: scale(1);
    transition: 0.5s ease;
    color: white;
    border: 3px solid black;
    background-color: #7360DF;
}

#card:hover{
    border: 3px solid #7360DF;
    color: #7360DF;
    transform: scale(1.05);
    background-color: white;

}

.bulb-class{
    cursor: pointer;
    transition: 0.5s ease;
    color: black;
    font-size: 35px;
}

.bulb-class:hover{
    color: #7360DF;
}

.gear-rotate{
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s ease;
}

.gear-rotate:hover{
    transform: rotate(180deg);
}

.button-github {
    border: 3px solid white;
    color: white;
    background-color: #7360DF;
    transition: 0.4s ease;
    transform: scale(1);
    font-size: 20px;
}

.button-github:hover {
    transform: scale(1.1);
    border: 3px solid #7360DF;
    color: #7360DF;
    background-color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadein 0.5s ease ;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-delay {
    animation: fadein 1s ease ;

}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-delay-2 {
    animation: fadein 1.5s ease ;

}



