.nav-class {
    transition: 0.5s ease;
}

.navbar-scrolled {
    background-color: #7360DF;
}

.profile-header {
    
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s ease;

}

.profile-header:hover {
    transform: scale(1.07);
}

.button-header {
    background-color: #7360DF;
    color: white;
    transition: 0.4s ease;
    border: 5px solid white;
}

.button-header:hover {
    color: black;
    background-color: white;
    transform: scale(1.07);
    border: 5px solid #7360DF;
}