

 .icons-search:hover{
    color: yellow;
    transition: 0.5s ease;

}

.icons-linkedin:hover{
    color: yellow;
    transition: 0.5s ease;
   
}

.icons-facebook:hover{
    color: yellow;
    transition: 0.5s ease;
   
}

.icons-instagram:hover{
    color: yellow;
    transition: 0.5s ease;
   
}