.judul-index {
    margin-top: -680px;
    margin-left: 800px;
}

.slogan-index {
    margin-top: 20px;
    margin-left: 800px;
    font-size: x-large;
}

.img-index {
    margin-top: -20px;
    width: 100%;
    height: 100%;
}