body {
     background-color: #191970;
      color: white;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      padding: 20px;
      position: relative;
    }
    
    /* Styling Header */
    header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      justify-content: start;
      align-items: flex-start;
    }
    
    .contact-info-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .contact-info {
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 10px;
    }

    .social-icons {
      position: absolute;
      margin: 0 50px;
      top: 20px;
      right: 20px;
      display: flex;
    }
    
    .social-icon a {
      color: white;
      margin: 0 25px;
      margin-left: 10px;
      font-size: 20px;
      text-decoration: none;
      transition: color 0.3s;
    }