.dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .dropdown:hover .dropdown-toggle {
            color: rgb(224, 179, 58);
        }

        .dropdown .dropdown-item:hover {
            color: rgb(224, 179, 58);
            background-color: white;
        }

        .interactiveButton:hover {
            color: rgb(224, 179, 58);
        }

        .interactiveButton {
            color: white;
        }

        .navbar-toggler-icon {
            color: rgb(18, 2, 70);

            background-image: url("icons/ic-close.svg");
        }

        .collapsed .navbar-toggler-icon {
            color: rgb(18, 2, 70);

            background-image: url("icons/ic-menu.svg");
        }

        .dropdown-toggle {
            border: 0;
            border-color: white;
        }

        #buttonCertifyNow {
            background-color: rgb(242, 53, 53);

        }

        #buttonCertifyNow:hover {
            background-color: rgb(18, 2, 70);
        }

        .btnHoverBlue {
            background-color: rgb(32, 122, 219);
            color: white;
            border: 0px;
            transition: 0.5s ease;
        }

        .btnHoverBlue:hover {
            background-color: white;
            border: 2px solid rgb(32, 122, 219);
            color: rgb(32, 122, 219);
        }