body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  margin-bottom: 20px;
}

.contact-container {
  background-color: navy;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.social-icons {
  position: absolute;
  margin: 0 50px;
  top: 20px;
  right: 20px;
  display: flex;
}

.social-icon a {
  color: white;
  margin: 0 25px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon a:hover {
  color: #1e90ff; /* Change to a brighter blue on hover */
}
