body {
  background-color: wheat;
  font-family: sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 150px;
  margin-bottom: 1000px;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10; /* Pastikan navbar berada di atas elemen lainnya */
  background-color: #fff; /* Ganti warna sesuai keinginan Anda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan agar lebih jelas */
  /* margin-bottom: 50px; */
}

/* Fixed Header Container */
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 0;
}

.contact-container {
  background-color: #161640;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: flex-start;
}

.judulAwal {
  font-family: "Poppins", sans-serif; /* Atur font Montserrat */
  font-size: 65px; /* Ubah ukuran sesuai kebutuhan */
  font-weight: bold; /* Pilih ketebalan, bisa 400, 500, 700, dsb. */
  color: #1b234a; /* Sesuaikan warna teks */
  text-align: center; /* Ratakan teks ke tengah */
  line-height: 1.4; /* Sesuaikan jarak antar baris */
  border: none; /* Hilangkan border default */
  /* border-top: 2px solid #333; Tambahkan garis horizontal sesuai gaya */
  width: 60%; /* Sesuaikan lebar garis */
  margin: 10px auto; /* Atur margin dan ratakan ke tengah */
  margin-top: 90px;
}

/* Button click */
.elementor-19 .elementor-element.elementor-element-cf07263 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1em;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #467ff7;
  border: 1px solid #467ff7;
  border-radius: 100px;
  padding: 16px 55px;
  /* display: inline-block; */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk hover */
}

/* Efek hover untuk button */
.elementor-19
  .elementor-element.elementor-element-cf07263
  .elementor-button:hover {
  background-color: #355bbf; /* Ubah warna latar saat di-hover */
  color: #ffffff;
}
.custom-geser {
  margin-right: 40px;
}

.img-geser {
  margin-left: 40px;
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.social-icons {
  position: absolute;
  margin: 0 50px;
  top: 20px;
  right: 20px;
  display: flex;
}

.social-icon a {
  color: white;
  margin: 0 25px;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon a:hover {
  color: #1e90ff; /* Change to a brighter blue on hover */
}
