*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    /* latar web */
    width: 100%;
    height: 100vh;
    background: #c1a7bd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    /* styling pada latar calculator */
    background: #603054;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    /* styling pada tombol tombol kecil */
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #d9d5d5;
    cursor: pointer;
    margin: 10px;
}
form .display{
    /* styling untuk display hasil kalkulator */
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    /* styling display kalkulator lebih detail karena meranah ke input */
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    /* styling pada tombol = agar besar */
    width: 145px;
}
form input.operator{
    /* styling untuk button atas de ac dll */
    color: #7fd4e7;
}