* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Courier, monospace;
}

h1 {
  margin-bottom: 40px;
}

p {
  display: flex;
  justify-content: center;
}

button {
  display: inline;
  justify-content: center;
}

/* Container utama untuk memusatkan form di tengah layar */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
}

/* Konten form */
.form-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: green; */
}

/* Grup input dan label */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Input teks */
.text1 {
  border-radius: 30px;
  border: solid 1px #ccc;
  padding: 10px;
}

/* Pesan error */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

/* Tabel dan elemen lainnya */
.TableForm, table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.pesan1, .pesan2, .stk, .text1, .Kartu, .checkbox1, .radio1, .TableForm, .drop1, .area1 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
}
